.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    flex-wrap: wrap;

    @media screen and (min-width: $tablet) {
        padding-top: 60px;
        padding-bottom:60px;
       }
}

.clients__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (min-width: $desktop) {
       margin-bottom: 50px;
      }
}

.client__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 30px;

    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.client__conteier {
    display: inline-flex;

    width: 210px;
    height: 92px;

   
}

.client__icon {
    display: flex;

    width: 210px;
    height: 92px;

    border-color: #AFB1B8;
    border-width: 1px;
    border-style: Solid;
    border-radius: 4px;
    fill: #AFB1B8;

    align-items: center;
    justify-content: center;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   
    &:hover {
        fill: var(--accent-color);
        border-color: var(--accent-color);
    }

    &:focus {
        fill: var(--accent-color);
        border-color: var(--accent-color);
    }

    @media screen and (min-width: $tablet) {
        width: 226px;
      }

      @media screen and (min-width: $desktop) {
        width: 170px;
      }
}

.client__item {
    display: flex;

    width: 106px;
    height: 60px;

    &:hover {
        fill: var(--accent-color);
        border-color: var(--accent-color);
    }

    &:focus {
        fill: var(--accent-color);
        border-color: var(--accent-color);
    }
}