.style-footer {
    margin: 0 auto;
    padding: 0;

    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;

    justify-content: center;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.footer-link {
    margin-right: 70px;
}

.last-part-footer {
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--style-color);
}

.footer-list {
    margin-bottom: 9px;
}

.site-contact-list {
    display: inline-block;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--style-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-link {
    display: inline-block;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel-link {
    display: inline-block;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 20px;
    color: #fff;
}

.footer-icon-list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    gap: 10px;
    cursor: pointer;
}

.container-icon {
    margin-right: 93px;
}

.icon-item {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.icon-container-footer {
    display: inline-flex;

    height: 44px;
    width: 44px;

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.footer-form-masseg {
    display: flex;
}

.footer-messeg-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
}

.footer-form-input {
    width: 358px;
    height: 50px;
    
    padding: 0;
    padding-left: 16px;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;

    outline: transparent;

    &:focus {
        border-color: var(--accent-color);
    }
}