.backdrop {
    position: fixed;

    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);

    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 450px;
    height: 609px;

    padding: 10px;
    margin: 0;
    border-radius: 4px;
    background-color: var(--style-color);

    @media screen and (min-width: $desktop) {
        width: 528px;
        height: 581px;
    }
}

.close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 8px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: var(--style-color);
    border: 1px Solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    &:hover {
        fill: var(--accent-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.modal-title {
    padding: 20px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(28/ 20);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    text-align: center;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;

    border-radius: 4px;
    width: 370px;
    margin: 0 auto;

    @media screen and (min-width: $desktop) {
        width: 448px;
        
    }
}

.form-group-input {
    position: relative;

    &:focus-within>.form-icon {
        fill: var(--accent-color);
    }
}

.submit-btn {
    display: flex;

    padding: 10px 30px;

    width: 200px;
    height: 50px;

    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: #fff;
    font-size: inherit;

    margin: 0 auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;

    &:hover,
    &:focus {
        background-color: #188CE8;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.modal-primacy {
    display: flex;

    gap: 7px;
    margin-bottom: 30px;

    justify-content: center;
    align-items: center;
}

.modal-form-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
    color: var(--second-text-color);

    text-align: center;
    justify-content: center;
    align-items: center;
}

.modal-form-link {
    text-decoration: underline;
    margin-left: 8px;
    color: var(--accent-color);
}

.form-input {
    position: relative;

    width: 100%;
    height: 40px;

    padding: 0;
    padding-left: 36px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    color: #757575;
    border-radius: 4px;

    &:focus-visible {
        border-color: #2196f3;
        transition-property: border, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.form-label {
    display: block;

    padding-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: var(--second-text-color);
}

.form-messeg {
    position: relative;

    width: 100%;

    padding: 12px 16px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(117, 117, 117, 0.5);
    height: 120px;
    width: 370px;

    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    border-radius: 4px;

    &:focus-visible {
        border-color: var(--accent-color);
    }

    @media screen and (min-width: $desktop) {
        width: 448px;
    }
}

.form-chekbox-icon {
    display: flex;
    width: 18px;
    height: 18px;
}

.form-chekbox-icon .uncheked {
    opacity: 1;
}

.form-chekbox:checked+.form-chekbox-icon .uncheked {
    opacity: 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-chekbox-icon .cheked {
    opacity: 0;
}

.form-chekbox:checked+.form-chekbox-icon .cheked {
    opacity: 1;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    height: 18px;
    top: 0;
    left: 5%;
    transform: translate(-50%);
    fill: var(--primary-text-color);

    &:focus-within {
        fill: var(--accent-color);
    }
}

input {
    font-family: inherit;
}

label {
    margin-bottom: 8px;
}